{
  "tabWidth": 2,
  "arrowParens": "avoid",
  "useTabs": false,
  "trailingComma": "none",
  "singleQuote": true,
  "semi": false,
  "printWidth": 160,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@(?!/)(.*)$", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
