/* Alerts
----------------------------------------------------------*/

.alert {
  @include border-radius(0);
  border: 0;
  color: white;
  font-weight: 300;
  padding: 1rem 1.5rem;

  > .alert-icon {
    display: inline-block;
    font-size: 120%;
    margin-right: 1rem;
    vertical-align: middle;
    border: 0;
  }

  .close {
    margin-top: 0.5rem;
  }
}
