/* Backgrounds
----------------------------------------------------------*/

.bg-image,
.bg-video {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: 1.5s opacity linear;
  width: 100%;
  z-index: 0;

  &.loaded,
  &.playing {
    opacity: 1;
  }

  img,
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.bg-video {
  img {
    position: relative;
    z-index: 2;
    @include transition-primary('opacity');
  }

  &.playing {
    img {
      opacity: 0;
    }
  }
}

/* Colors */

.bg-white {
  background-color: white;
}

.bg-light {
  background-color: $color-light !important;
}

.bg-grey {
  background-color: $color-medium;
}

.bg-black {
  background-color: black;
}

@each $type, $color in $types {
  .bg-#{$type} {
    background-color: $color;
  }
}
