/* Box
----------------------------------------------------------*/

.box {
  border-radius: $radius;
  display: flex;
  flex-direction: column;
  min-height: 340px;
  padding: 2.5rem;

  &.box-bordered {
    border: 1px solid $color-line;
  }

  &-title {
    @include link-inherit;
  }

  &-icon {
    display: block;
    height: 40px;
    width: 40px;
  }

  &-content {
    margin-top: auto;
  }
}
