/* ---------------------------------------------------------------------------- */
/* --- CURSOR
/* ----------------------------------------------------------------------------- */

.cursor {
  $b: &;

  @media (hover: none) {
    display: none;
  }

  &-inner {
    position: absolute;

    top: 0;
    left: 0;
    z-index: 99999;
    border-radius: 100%;
    transition-timing-function: ease;
    transition-duration: 0.15s;
    color: currentColor;
    opacity: 0;

    transition-property: width, height, background-color, border-radius, opacity;
    pointer-events: none;

    will-change: auto;
  }

  &-oval {
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;

    &-bg {
      @include cover(-8px);
      background-color: rgba(white, 0.02);
      backdrop-filter: blur(40px);
      border-radius: 50%;
      // transform: scale(1.4);
      // transition: transform 1s $easeOutExpo;
      // will-change: transform;
    }

    &-outline {
      @include cover;
      border: 1px solid currentColor;
      border-radius: 3rem;
      border-radius: 50%;
      // transform: scale(1.2);
      // transition: transform 1s $easeOutExpo;
      // will-change: transform;
    }

    &-text {
      @include text-uppercase;
      font-size: 0.4rem;
      max-width: 75%;
      text-align: center;
    }

    &-icon {
      margin-bottom: 0.5rem;

      &::after {
        @include icon('plus');
      }
    }

    &-body {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      i {
        margin-bottom: 0.5rem;
      }
    }
  }

  &-arrows {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    color: $color-global;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;

    &::before,
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      font-size: 4rem;
      line-height: 4rem;
      opacity: 0;
      transform: scale(0.8);
      @include transition-secondary('opacity, transform');
    }

    &::before {
      @include icon(arrow-left);
    }

    &::after {
      @include icon(arrow-right);
    }

    #{$b}-arrow-left-active & {
      opacity: 1;

      &::before {
        opacity: 1;
        transform: scale(1);
      }
    }
    #{$b}-arrow-right-active & {
      opacity: 1;

      &::after {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  &#{$b}-oval-active {
    #{$b}-oval {
      opacity: 1;
    }
  }
}
