/* Forms
----------------------------------------------------------*/

label:not(.custom-control-label) {
  font-size: 0.95rem;
  margin-bottom: 0.25rem;
}

// Form Group

.form-group {
  position: relative;
  margin-bottom: 1.25rem;

  &.form-group-hidden {
    display: none;
  }
}

// Form Message

.form-message {
  font-size: 0.8rem;
  display: none;
  margin-top: 0.25rem;

  &.form-message-error {
    color: $color-red;
  }

  .form-error & {
    display: block;
  }
}

// Form Control

.form-control {
  @include reset('all');
  appearance: none;
  box-shadow: none;
  border-bottom: 1px solid $color-global;
  color: $color-global;
  padding-bottom: 0.75rem;
  width: 100%;
  resize: none;

  &:focus {
    border-bottom: 1px solid rgba($color-global, 0.5);
    box-shadow: none;
  }

  &::placeholder {
    color: $color-muted;
  }
}

.inverted .form-control {
  border-color: white;
  color: white;

  + label {
    color: $color-muted-inverted;
  }
}

/* Select */

.form-select {
  position: relative;
  cursor: pointer;

  .form-control {
    padding-right: 4rem;
  }

  &::after {
    position: absolute;
    bottom: 0.9rem;
    right: 0;
    font-size: 0.8rem;
    @include icon('arrow-down');
  }
}

/* Custom Controls */

.custom-control {
  padding-left: 1.9em;
  margin-right: 2em;
  font-size: inherit;

  &-input {
    display: none;
  }

  &-label {
    font-size: 0.9rem;
    cursor: pointer;
    display: block;
  }
}

/* Checkbox - Custom */

.custom-checkbox {
  .custom-control-input {
    + .custom-control-label {
      &::before {
        @include transition-primary;
        position: absolute;
        top: 0;
        left: 0;
        font-weight: 400;
        width: 1.1rem;
        height: 1.1rem;
        margin-right: 0.5rem;
        border: 1px solid currentColor;
        content: ' ';

        .form-error & {
          border-color: $color-red;
        }
      }

      &::after {
        @include transition-primary;
        position: absolute;
        top: 0.3rem;
        left: 0.35rem;
        @include icon(tick);
        font-size: 0.45rem;
        color: $color-primary;
        background-image: none !important;
        transform: translate3d(0, -25%, 0);
        visibility: hidden;
        opacity: 0;
      }
    }

    &:active + .custom-control-label::before {
      background-color: white;
      border-color: $color-primary;
    }

    &:checked + .custom-control-label {
      &::before {
        border-color: $color-primary;
      }

      &::after {
        transform: translate3d(0, 0%, 0);
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
