/* Typography
----------------------------------------------------------*/

/* Headings */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.1;
  margin-bottom: 1.5rem;
  margin-top: 0;
  font-family: $font-secondary;
  font-weight: $font-secondary-extrabold;
  text-transform: uppercase;
  user-select: none;
}

h1,
.h1 {
  font-size: calc(7rem + 2vw);
  line-height: 0.85;

  @include media('<=lg') {
    font-size: calc(5rem + 0.5vw);
  }
  @include media('<=md') {
    font-size: 4.5rem;
  }
  @include media('<=xs') {
    font-size: 4rem;
  }
}

h2,
.h2 {
  font-size: calc(4.5rem + 1.75vw);
  line-height: 0.9;

  @include media('<=xxl') {
    font-size: calc(4.25rem + 1vw);
  }

  @include media('<=lg') {
    font-size: calc(4rem + 0.5vw);
  }
  @include media('<=md') {
    font-size: 3.5rem;
  }
  @include media('<=xs') {
    font-size: 2.75rem;
  }
}

h3,
.h3 {
  font-size: calc(2.5rem + 1.75vw);
  line-height: 1;

  @include media('<=lg') {
    font-size: calc(2.5rem + 0.5vw);
  }
  @include media('<=md') {
    font-size: 2.5rem;
  }
  @include media('<=xs') {
    font-size: 2rem;
  }
}

h4,
.h4 {
  font-size: 2.25rem;

  @include media('<=lg') {
    font-size: 2rem;
  }
  @include media('<=md') {
    font-size: 1.75rem;
  }
  @include media('<=xs') {
    font-size: 1.5rem;
  }
}

h5,
.h5 {
  font-size: 1.5rem;

  &.text-sm {
    font-weight: $font-secondary-medium;
  }
}

h6,
.h6 {
  font-size: 0.625rem;
  opacity: 0.45;
  letter-spacing: 0.2em;
  font-weight: $font-primary-regular;
}

/* Paragraph */

p {
  margin-top: 0;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.lead {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 1.25rem;

  @include media('<=xs') {
    font-size: 1.15rem;
  }
}

/* Address */
address {
  margin-bottom: 1.5rem;
  font-style: normal;

  a {
    @include link-underline-hover;
  }

  &.text-lg {
    font-size: 1.4rem;

    @include media('<=md') {
      font-size: 1.2rem;
    }
    @include media('<=xs') {
      font-size: 1.1rem;
    }
  }
}

/* Sizes */

.text-lg {
  font-size: 1.2rem;
}

.text-sm {
  font-size: 0.85rem;
}

.text-xs {
  font-size: 0.7rem;
}

/* Colors */

@each $type, $color in $types {
  .text-#{$type} {
    color: $color;
  }
}

.text-muted {
  color: $color-muted;
}

/* Outline Text */
.outline-text {
  color: transparent;
  -webkit-text-stroke: 0.75px $color-global;

  strong {
    color: $color-global;
    font-weight: inherit;
  }

  &[data-split-lines],
  &[data-animate] {
    position: relative;

    > span {
      display: block;

      &:nth-child(1) {
        color: transparent;
        -webkit-text-stroke: 0.75px $color-global;
      }

      &:nth-child(2) {
        color: $color-global;
        -webkit-text-stroke: 0;
        position: absolute;
        top: 0;
        left: 0;

        > div {
          clip-path: polygon(0% 0%, 100% 0%, 100% var(--progress), 0% var(--progress));
        }
      }
    }
  }
}

.border-left {
  border-left: 1px solid currentColor;
  padding-left: 1.25em;
}

.border-right {
  border-right: 1px solid currentColor;
  padding-right: 1.25em;
}

.border-bottom {
  border-bottom: 1px solid currentColor;
  padding-bottom: 0.25em;
}

.border-left,
.border-right {
  @each $type, $color in $types {
    &.border-#{$type} {
      border-color: $color;
    }
  }
}

blockquote {
  margin: 0;
  padding: 0;
  @include media('>md') {
    margin-bottom: $layout-spacing-desktop-xs;
  }
  @include media('<=md') {
    margin-bottom: $layout-spacing-mobile-xs;
  }

  p {
    position: relative;
    @include font('secondary', 'light');
    text-transform: uppercase;
    font-size: 1.75rem;
    padding-left: 2.5rem;
    margin-bottom: 1.5rem;

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 1px;
      background-color: currentColor;
      transform-origin: center top;
      content: ' ';
    }

    @include media('<=md') {
      font-size: 1.5rem;
    }
    @include media('<=xs') {
      font-size: 1.35rem;
      padding-left: 2rem;
    }
  }

  footer {
    @include font('secondary', 'medium');
    text-transform: uppercase;
    margin-left: 2.5rem;
    font-size: 0.9rem;
    color: $color-muted;
    @include media('<=xs') {
      margin-left: 2rem;
    }
  }

  &[data-animate] {
    p {
      &::before {
        transform: scaleY(0);
        will-change: transform;
      }
    }

    &.visible {
      p {
        &::before {
          transition: transform 1s $easeOutExpo;
          transform: scaleY(1);
        }
      }
    }
  }
}

.wysiwyg {
  @include last-mb-0;

  p,
  ul,
  ol,
  .media-row,
  blockquote {
    + h1,
    + h2,
    + h3,
    + h4,
    + h5,
    + h6,
    + .media-row,
    + blockquote {
      @include media('>md') {
        margin-top: $layout-spacing-desktop-xs;
      }
      @include media('<=md') {
        margin-top: $layout-spacing-mobile-sm;
      }
    }
  }

  ul:not(.list-logotypes) {
    @include reset('list');

    > li {
      position: relative;
      padding-left: 1.5rem;
      line-height: 1.2;

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }

      &::before {
        position: absolute;
        top: 0.15rem;
        font-size: 0.7rem;
        left: 0;
        @include icon(arrow-left-fat);
        opacity: 0.3;
      }
    }
  }
}

.collab {
  @include text-uppercase;
  display: flex;
  align-items: center;
  line-height: 1;
  margin-bottom: 1.5rem;

  span {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    margin: 0 0.5em;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: currentColor;
      content: ' ';
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }
}
