

@font-face {
  font-family:"Icons";
  src:url("../fonts/icons-378003e4e5c94a06c4e821949109a10b.woff?378003e4e5c94a06c4e821949109a10b") format("woff"),
		url("../fonts/icons-378003e4e5c94a06c4e821949109a10b.ttf?378003e4e5c94a06c4e821949109a10b") format("truetype");
  font-weight:normal;
  font-style:normal;
}


$icons: (

  angle-down: "f101",
  angle-up: "f102",
  arrow-down: "f103",
  arrow-left-fat: "f104",
  arrow-left: "f105",
  arrow-right: "f106",
  arrow-top-right-fat: "f107",
  arrow-top-right: "f108",
  attach: "f109",
  chart: "f10a",
  chat: "f10b",
  check: "f10c",
  email: "f10d",
  facebook: "f10e",
  instagram: "f10f",
  linkedin: "f110",
  map-marker: "f111",
  play: "f112",
  plus: "f113",
  tick: "f114",
  ticket: "f115",
  tiktok: "f116",
  twitter: "f117",
);

@mixin icon($icon) {
  font-family: "Icons";
  $code: map-get($icons, $icon);
  content: unquote('\'\\#{ $code }\'');
}

.i {
  font-family: "Icons";
  display:inline-block;
  line-height:1;
  font-weight:normal;
  font-style:normal;
  speak:none;
  text-decoration:inherit;
  text-transform:none;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}


.i-angle-down:before {
  @include icon(angle-down);
}

.i-angle-up:before {
  @include icon(angle-up);
}

.i-arrow-down:before {
  @include icon(arrow-down);
}

.i-arrow-left-fat:before {
  @include icon(arrow-left-fat);
}

.i-arrow-left:before {
  @include icon(arrow-left);
}

.i-arrow-right:before {
  @include icon(arrow-right);
}

.i-arrow-top-right-fat:before {
  @include icon(arrow-top-right-fat);
}

.i-arrow-top-right:before {
  @include icon(arrow-top-right);
}

.i-attach:before {
  @include icon(attach);
}

.i-chart:before {
  @include icon(chart);
}

.i-chat:before {
  @include icon(chat);
}

.i-check:before {
  @include icon(check);
}

.i-email:before {
  @include icon(email);
}

.i-facebook:before {
  @include icon(facebook);
}

.i-instagram:before {
  @include icon(instagram);
}

.i-linkedin:before {
  @include icon(linkedin);
}

.i-map-marker:before {
  @include icon(map-marker);
}

.i-play:before {
  @include icon(play);
}

.i-plus:before {
  @include icon(plus);
}

.i-tick:before {
  @include icon(tick);
}

.i-ticket:before {
  @include icon(ticket);
}

.i-tiktok:before {
  @include icon(tiktok);
}

.i-twitter:before {
  @include icon(twitter);
}
