/* CTA
----------------------------------------------------------*/

.section.cta {
  min-height: 75vh;
  display: flex;
  align-items: center;

  .section-bg {
    @include media('<=xs') {
      transform: translateY(25%);
      left: -100%;
    }
  }

  .section-content {
    h2 {
      // font-size: calc(2.5rem + 1.75vw);
      // line-height: 1;

      // @include media('<=lg') {
      //   font-size: calc(2.5rem + 0.5vw);
      // }
      // @include media('<=md') {
      //   font-size: 2.5rem;
      // }
    }

    p {
      max-width: 32rem;
    }
  }
}
