/* Features
----------------------------------------------------------*/

.section.features {
  min-height: 75vh;
  display: flex;
  align-items: center;

  .section-bg {
    @include media('<=xs') {
      top: 0%;
      left: -100%;
      right: -100%;
    }

    .bg-image {
      mask-image: linear-gradient(to right, rgba(black, 0), rgba(black, 1), rgba(black, 0));

      img {
        mask-image: linear-gradient(to bottom, rgba(black, 0), rgba(black, 1), rgba(black, 0));
        opacity: 0.3;
      }
    }
  }

  .container-inner > .row > * {
    display: flex;
  }

  .section-content {
    @include media('>xs') {
      display: flex;
      @include media('>lg') {
        gap: $gutter-width-desktop;
      }
      @include media('<=lg') {
        gap: $gutter-width-mobile;
      }
    }
  }

  .section-card {
    background-color: rgba(white, 0.1);
    backdrop-filter: blur(40px);
    width: 100%;
    flex: 1 0 0;
    padding: 5rem;

    @include media('<=xl') {
      padding: 4rem;
    }

    @include media('<=lg') {
      padding: 3rem;
      transform: none !important;
    }
    @include media('<=md') {
      padding: 2rem;
    }
    @include media('<=xs') {
      padding: 1.75rem;

      &:not(:last-child) {
        margin-bottom: $outer-margin;
      }
    }

    h5 {
      max-width: 12rem;

      &::before {
        width: 10px;
        height: 1px;
        background-color: currentColor;
        margin-bottom: 1rem;
        content: ' ';
      }
    }
  }
}
