/* Hero
----------------------------------------------------------*/

/* Hero #1 */
.section.hero-1 {
  min-height: 100vh;
  display: flex;
  align-items: center;

  .section-bg {
    transform: translateY(25%);
    @include media('<=xs') {
      transform: translateY(50%);
      right: -100%;
    }
  }

  .section-container {
    > .container-inner {
      @include media('>sm') {
        display: flex;
        align-items: flex-end;
        padding-bottom: 10vh;
      }
    }
  }

  .section-content {
    max-width: 80%;
    @include last-mb-0;

    @include media('<=sm') {
      margin-bottom: $layout-spacing-mobile-xs;
    }
  }

  .section-action {
    margin-left: auto;
  }
}

/* Hero #2 */
.section.hero-2 {
  min-height: 60vh;
  display: flex;
  align-items: flex-end;

  .section-bg {
    top: -75%;

    @include media('<=xs') {
      top: 0%;
      left: -100%;
      right: -100%;
    }
  }

  .section-content {
    @include last-mb-0;
    display: flex;
    flex-direction: column;

    @include media('>md') {
      max-width: 65%;
    }

    .lead {
      max-width: 28rem;
    }
  }

  .section-action {
    margin-left: auto;
  }

  &.center {
    text-align: center;
    justify-content: center;

    .section-content {
      align-items: center;
      margin: 0 auto;
    }
  }

  &.right {
    text-align: right;
    justify-content: flex-end;

    .section-bg {
      top: -50%;

      .waves.reversed {
        transform: rotate(-30deg);
      }
    }

    .section-content {
      align-items: flex-end;
      margin-left: auto;
    }
  }

  + .section {
    .nav-tabs {
      @include media('>lg') {
        margin-top: calc(-1 * #{$layout-spacing-desktop} * 0.5);
      }
      @include media('<=lg') {
        margin-top: calc(-1 * #{$layout-spacing-mobile} * 0.5);
      }
    }
  }
}

/* Hero #3 */
.section.hero-3 {
  min-height: 75vh;
  display: flex;
  align-items: flex-end;

  .section-bg {
    mask-image: linear-gradient(to bottom, black, transparent);

    .bg-image {
      mask-image: linear-gradient(to right, black, transparent);
    }
  }

  .section-content {
    @include media('>lg') {
      &:not(.fullwidth) {
        max-width: 75%;
      }
    }
    @include last-mb-0;

    .lead {
      max-width: 28rem;
    }
  }

  .section-action {
    margin-left: auto;
  }

  + .section {
    padding-top: 0;
  }

  &.reversed {
    .section-content {
      text-align: right;
      margin-left: auto;

      p {
        margin-left: auto;
      }
    }
  }
}
