/* Hero
----------------------------------------------------------*/

/* Hero #1 */
.section.hero-1 {
  min-height: 100vh;
  display: flex;
  align-items: center;

  .section-bg {
    transform: translateY(25%);
    @include media('<=xs') {
      transform: translateY(50%);
      right: -100%;
    }
  }

  .section-container {
    > .container-inner {
      @include media('>sm') {
        display: flex;
        align-items: flex-end;
        padding-bottom: 10vh;
      }
    }
  }

  .section-content {
    max-width: 80%;
    @include last-mb-0;

    @include media('<=sm') {
      margin-bottom: $layout-spacing-mobile-xs;
    }
  }

  .section-action {
    margin-left: auto;
  }
}

/* Hero #2 */
.section.hero-2 {
  min-height: 60vh;
  display: flex;
  align-items: flex-end;

  .section-bg {
    top: -75%;

    @include media('<=xs') {
      top: 0%;
      left: -100%;
      right: -100%;
    }
  }

  .section-content {
    @include last-mb-0;
    display: flex;
    flex-direction: column;

    @include media('>md') {
      &:not(.fullwidth) {
        max-width: 65%;
      }
    }

    .lead {
      max-width: 28rem;
    }
  }

  .section-action {
    margin-left: auto;
  }

  &.center {
    text-align: center;
    justify-content: center;

    .section-content {
      align-items: center;
      margin: 0 auto;
    }
  }

  &.right {
    text-align: right;
    justify-content: flex-end;

    .section-bg {
      top: -50%;

      .waves.reversed {
        transform: rotate(-30deg);
      }
    }

    .section-content {
      align-items: flex-end;
      margin-left: auto;
    }
  }

  + .section {
    .nav-tabs {
      @include media('>lg') {
        margin-top: calc(-1 * #{$layout-spacing-desktop} * 0.5);
      }
      @include media('<=lg') {
        margin-top: calc(-1 * #{$layout-spacing-mobile} * 0.5);
      }
    }
  }
}

/* Hero #3 */
.section.hero-3 {
  min-height: 75vh;
  display: flex;
  align-items: flex-end;

  .section-bg {
    mask-image: linear-gradient(to bottom, black, transparent);

    .bg-image {
      mask-image: linear-gradient(to right, black, transparent);
    }
  }

  .section-content {
    @include media('>lg') {
      &:not(.fullwidth) {
        max-width: 75%;
      }
    }
    @include last-mb-0;

    .lead {
      max-width: 28rem;
    }
  }

  .section-action {
    margin-left: auto;
  }

  + .section {
    padding-top: 0;
  }

  &.reversed {
    .section-content {
      text-align: right;
      margin-left: auto;

      p {
        margin-left: auto;
      }
    }
  }
}

/* Error */
.section.hero-error {
  min-height: 100vh;
  display: flex;
  align-items: center;

  .section-bg {
    @include media('<=xs') {
      top: 0%;
      left: -100%;
      right: -100%;
    }
  }

  h1 {
    font-size: calc(13rem + 5vw);
    line-height: 0.85;

    @include media('<=lg') {
      font-size: calc(9rem + 2.5vw);
    }
    @include media('<=md') {
      font-size: 8rem;
    }
    @include media('<=xs') {
      font-size: 6rem;
    }
  }
}

/* Moment */
.section.hero-moment {
  min-height: 80vh;
  display: flex;
  align-items: flex-end;

  .section-bg {
    mask-image: linear-gradient(to bottom, black, transparent);
    opacity: 0.7;

    @include media('<=sm') {
      opacity: 0.5;
    }
  }

  .container-inner {
    @include media('<=lg') {
      flex-wrap: wrap;
    }
    @include media('>md') {
      display: flex;
    }
    @include media('<=sm') {
      padding-top: 6rem;
    }
  }

  .section-logo {
    flex: 0 0 8rem;
    margin-right: 2rem;
    @include media('<=lg') {
      margin-right: 0;
      margin-bottom: 2rem;
      flex: 0 0 100%;
    }
    @include media('<=sm') {
      display: none;
    }

    img {
      max-width: 100%;
      max-height: 8rem;
      display: block;
      @include media('<=lg') {
        max-width: 10rem;
        max-height: 5rem;
      }
      @include media('<=sm') {
        max-width: 6rem;
        max-height: 3rem;
      }
    }
  }

  .section-content {
    @include media('>sm') {
      max-width: 80%;
      @include last-mb-0;
    }
    flex: 1 1 auto;

    .lead {
      max-width: 28rem;
    }
  }

  .section-action {
    margin-left: auto;
  }
}
