/* ---------------------------------------------------------------------------- */
/* --- SECTIONS
/* ----------------------------------------------------------------------------- */

.section {
  @include layout-spacing;
  position: relative;

  &-bg {
    @include cover;
    z-index: 0;
  }

  &-inner {
    @include layout-spacing;
    position: relative;
  }

  &:first-child {
    @include media('>lg') {
      padding-top: calc($header-height-desktop + $layout-spacing-desktop);
      padding-bottom: $layout-spacing-desktop;
    }
    @include media('<=lg') {
      padding-top: calc($header-height-mobile + $layout-spacing-mobile * 0.5);
      padding-bottom: $layout-spacing-mobile;
    }
  }

  &-container {
    position: relative;
  }

  &.bg-white {
    z-index: 2;
  }

  &.border-top {
    .container-inner {
      position: relative;

      &::after {
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        background-color: $color-line;
        content: ' ';
        @include media('>lg') {
          top: calc(-1 * #{$layout-spacing-desktop});
        }
        @include media('<=lg') {
          top: calc(-1 * #{$layout-spacing-mobile});
        }
      }
    }
  }

  + .section:not(.bg-white):not(.border-top) {
    padding-top: 0 !important;
  }
}

@import '_sections/cta';
@import '_sections/hero';
@import '_sections/intro';
@import '_sections/marquee';
