/* ---------------------------------------------------------------------------- */
/* --- SECTIONS
/* ----------------------------------------------------------------------------- */

.section {
  @include layout-spacing;
  position: relative;

  + .section {
    margin-top: -1px;
  }

  &-bg {
    @include cover;
    z-index: 0;
    opacity: 0;
    transform: scale(1.25);
    transition: 1s opacity $easeOutQuad, 2s transform $easeOutQuad;

    body.page-show-content & {
      opacity: 1;
      transform: scale(1);
    }
  }

  &-inner {
    @include layout-spacing;
    position: relative;
  }

  &:first-child {
    @include media('>lg') {
      padding-top: calc($header-height-desktop + $layout-spacing-desktop);
      padding-bottom: $layout-spacing-desktop;
    }
    @include media('<=lg') {
      padding-top: calc($header-height-mobile + $layout-spacing-mobile * 0.5);
      padding-bottom: $layout-spacing-mobile;
    }
  }

  &-container {
    position: relative;
  }

  &.bg-white {
    z-index: 2;

    + .section.bg-white {
      padding-top: 0 !important;
    }
  }

  &.border-top {
    .container-inner {
      position: relative;

      &::after {
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        background-color: $color-line;
        content: ' ';
        @include media('>lg') {
          top: calc(-1 * #{$layout-spacing-desktop});
        }
        @include media('<=lg') {
          top: calc(-1 * #{$layout-spacing-mobile});
        }
      }
    }
  }

  &:not(.bg-white) + .section:not(.bg-white):not(.border-top) {
    padding-top: 0 !important;
  }
}

@import '_sections/cta';
@import '_sections/hero';
@import '_sections/intro';
@import '_sections/marquee';
@import '_sections/features';
@import '_sections/media-parallax';
@import '_sections/contact';
